@model Contact
<div class="col-four tab-full contact__infos">
    <h4 class="h06">Telefon</h4>
    <p>
        +90 @Model.Phone<br>
    </p>

    <h4 class="h06">E-Mail</h4>
    <p>
        @Model.Email
    </p>

    <h4 class="h06">Adres</h4>
    <p>
        @Model.Address
    </p>
</div>


