@model UserLoginViewModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Giriş Yap</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/login-theme/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-theme/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/login-theme/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/login-theme/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Giriş Yap
					</span>
				</div>

				<form class="login100-form validate-form" method="post">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Kullanıcı adı gerekli">
						<span class="label-input100">Kullanıcı Adı</span>
						<input class="input100" type="text" asp-for="UserName" placeholder="Kullanıcı adınız">
						<span asp-validation-for="UserName"></span>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate="Şifre gerekli">
						<span class="label-input100">Şifre</span>
						<input class="input100" type="password" asp-for="Password" placeholder="Şifreniz">
						<span asp-validation-for="Password"></span>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Giriş
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/bootstrap/js/popper.js"></script>
	<script src="~/login-theme/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/login-theme/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-theme/js/main.js"></script>

</body>
</html>