@model List<ToDoList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<div class="content" style="margin-bottom:20em;">
    <div class="container-fluid">
        <h4 class="page-title">Yapılacaklar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hatırlatıcı Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Hatırlatıcı ile ilgili işlemleri aşağıdaki panelden gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">İçerik</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Icon Bilgisi</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Title</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.ImageUrl</td>
                                        @if (item.Status == true)
                                        {
                                            <td><a href="/ToDoList/ChangeToDoListStatusToFalse/@item.Id" class="btn btn-outline-dark">Yapılmadı Olarak İşaretle</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="/ToDoList/ChangeToDoListStatusToTrue/@item.Id" class="btn btn-outline-info">Yapıldı OLarak İşaretle</a></td>
                                        }         
                                        <td><a href="/ToDoList/UpdateToDoList/@item.Id" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="/ToDoList/DeleteToDoList/@item.Id" class="btn btn-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/ToDoList/CreateToDoList/" class="btn btn-outline-primary">Yeni Yapılacak İşlem Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

