@model PortfolioAddViewModel
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="content" style="margin-bottom:20em;">
	<div class="container-fluid">
		<h4 class="page-title">Portfolyo</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Portfolyo Ekleme Sayfası</div>
					</div>
					<div class="card-body">

						<form asp-controller="Portfolio" asp-action="Create" method="post" enctype="multipart/form-data">
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Alt Başlık</label>
							<input type="text" asp-for="SubTitle" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="Description" class="form-control" />
							<br />
							<label>Proje Url</label>
							<input type="text" asp-for="Url" class="form-control" />
							<br />
							<label>Proje Görsel</label>
							<input type="file" asp-for="Image" accept="image/*" class="form-control" />
							<br />	
							<button class="btn btn-primary">Portfolyo Ekle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

