@model PortfolioUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="content" style="margin-bottom:20em;">
    <div class="container-fluid">
        <h4 class="page-title">Portfolyo</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Portfolyo Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form asp-controller="Portfolio" asp-action="Update" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Alt Başlık</label>
                            <input type="text" asp-for="SubTitle" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>Proje Url</label>
                            <input type="text" asp-for="Url" class="form-control" />
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    <label>Proje Görsel</label>
                                    <input type="file" asp-for="Photo" accept="image/*" class="form-control" />
                                    <br />
                                </div>
                                <div class="col-md-7">
                                    @if (Model.ImageId is not null)
                                    {
                                        <label>Mevcut Görsel</label><br />
                                        <img src="~/images/@ViewBag.imageFileName" style="width:20em; height:12em;" />
                                        <br />
                                    }
                                </div>
                            </div>
                            <button class="btn btn-primary">Portfolyoyu Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

