<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Profile" asp-action="Update">
                        Ayarlar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Default" asp-action="Index">
                        Siteye Git
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdminLogin" asp-action="LogOut">
                        Çıkış Yap
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
        </div>
    </div>
</footer>