@model Message

@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<input type="hidden" asp-for="Id" />

<div class="content" style="margin-bottom:20em;">
    <div class="container-fluid">
        <h4 class="page-title">Mesajlar</h4>
        <a asp-controller="Message" asp-action="Inbox" class="btn btn-outline-primary btn-sm mb-3"> <i class="la la-arrow-left"></i> Geri</a>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj Detayları</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Gönderen: <b>@Model.NameSurname</b>
                            <br />
                            Email: <b>@Model.Email</b>
                            <br />
                            Tarih: <b>@Model.SendDate.ToShortDateString()</b>
                            <br /><br />
                            Mesaj: <b>@Model.MessageDetail</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

